
@navBackgroundColor:#368ee0;
@carouselBackgroundColor:#57bae8;

@contentBoardTitleColor:#333333;
@contentBoardAltColor:#63bd5a;

@sidebarBoardTitleColor:#333333;
@sidebarBoardAltColor:#a80000;

@aColor:#368ee0;
@aHoverColor:#6cbe42;

@footerBackgroundColor:#444444;


a {
	color:@aColor;
	&:hover {
		color:@aHoverColor;
	}
}

hr {
	background-image:url("../img/hr.png");
	height: 10px;
	margin: 50px 0;
	border: none;
}

a {
	&:hover, &:focus {
		text-decoration: none;
	}	
}

ul, ol {
	list-style:none;
}

h3 {
	color:@contentBoardTitleColor;
	margin-bottom:0px;
}

.sidebar {
	
}

.nav-wrapper {
	background-color:@navBackgroundColor;
}

.main-nav {
	list-style-type:none;
	padding:0px;
	margin:0px;
	float:left;
	
	li {
		position:relative;
		margin:0px;
		float:left;
		
		a {
			display: block;
			padding: 10px 15px;
			color: #fff;
			
			&:hover{
				background-color:#1e74c5;
			}
		}
	}
}

.board {
	background-color:white;
}

.board-title (@titleColor, @altColor){
	border-bottom:1px solid #e4e4e4;
	margin-top: 0;
	margin-bottom: 30px;
	padding-bottom: 0;

	h1, h3 {
		margin-bottom:0px;
		a {
			color: @titleColor;
		}
		&:after {
			background-color: @altColor;
			bottom: 0;
			content: "";
			margin-top: 10px;
			margin-bottom: -1px;
			display: block;
			width: 50px;
			height: 3px;
		}
		small {
			font-size:12px;
			display:block;
			margin:10px 0px;
		}
	}
}

.post-list(@titleColor, @altColor) {
	li {
		position: relative;
		border-bottom: 1px dotted #ddd;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	.number {
		position: absolute;
		top: 0;
		left: 0;
		background-color: @titleColor;
		color: #ffffff;
		width: 50px;
		height: 32px;
		font-size: 22px;
		line-height: 32px;
		text-align: center;
		display: block;
		border-radius: 4px;
		background-clip: padding-box;

		&:hover {
			background-color: @altColor;
		}

	}
	.list-content {
		padding-left:60px;
		.click {
			color:#999999;
			font-size:85%;
			line-height:1px;
		}
	}
	h5 {
		display: block;
		font-size: 11px;
		line-height: 12px;
		margin-bottom: 3px;
	}
}

.content .board-title {
	.board-title(@contentBoardTitleColor, @contentBoardAltColor);
}

.content .post-list {
	.post-list(@contentBoardTitleColor, @contentBoardAltColor);
}

.sidebar .board-title {
	.board-title(@sidebarBoardTitleColor, @sidebarBoardAltColor);
}

.sidebar .post-list {
	.post-list(@sidebarBoardTitleColor, @sidebarBoardAltColor);
}

.img-post-text {
	padding-top:50px;
	padding-bottom:50px;

	.post-title {
		margin-bottom:20px;
	}
}

/** posts **/

.post-basic-info {
	text-align:center;
}

.thumbnail-wrapper {
	text-align:center;
}

.footer {
	background:@footerBackgroundColor;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}