body {
	font-family: "宋体","WenQuanYi Micro Hei","微软雅黑";
	font-size:13px;
}



a:hover {
	text-decoration:none;
}

h1 {
	font-family: "微软雅黑","WenQuanYi Micro Hei","宋体";
}

.header {
	height:100px;
	background:url("../img/top-bg.png") repeat-x scroll 0% 0% transparent;
	vertical-align:middle;
}

.header img {
	margin:auto;
	float:left;
	vertical-align:middle;
}

.nav-wrapper {
	background-color:#257ca7;
}

.nav {
	margin-bottom:0px;
}

.nav-pills li a {
	font-family: "微软雅黑","WenQuanYi Micro Hei","宋体";
	font-weight:bold;
	font-size:14px;
	width:88px;
	text-align:center;
	color:white;
}

.nav-pills li a:hover {
	color:#002961;
}
.dl-horizontal {
	float:left;
	margin-bottom:5px;
	margin-top:0px;
}
.dl-horizontal dt{
	width:auto;
	margin:0px;
}

.dl-horizontal dd {
	float:left;
	margin-left:15px;
}
.bottom {
	margin-top:20px;
	padding-top:10px;
	background-color:#257ca7;
	position:relative;
}

.bottom p {
	font-size:12px;
}

.bottom ul li {
	color:white;
	float:left;
	font-size:12px;
}

.bottom ul li a {
	color:black;
	float:left;
	font-size:12px;
}