<#import "lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A Sample CMS">
	<meta name="author" content="dadooteam">
	<title>Teak CMS admin</title>
	<@lib.css />
</head>
<body>
	<@lib.header />
	<@lib.nav />
	
	<div class="container">
		<div class="row">
			<div class="span3">
				<ul class="nav nav-tabs nav-stacked">
  				<li class="active"><a href="#">Admin</a></li>
  				<li><a href="/posts">Posts</a></li>
  				<li><a href="/categories">Categories</a></li>
  				<li><a href="/pages">Pages</a></li>
  				<li><a href="/links">Links</a></li>		
				</ul>
			</div> <!-- span3 -->
			<div class="span9">
				AAA
			</div>
		</div>
	</div>
  <@lib.js />
</body>
</html>