<#import "lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<@lib.meta />
	<title>${category.name}</title>
	<@lib.css />
</head>
<body>
	
	<div class="container">
	
		<@lib.header />
		<@lib.nav />
		
		<div class="row" style="margin-top:20px">
			<div class="span12">
				<h2>${category.name}</h2>
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<ul class="nav nav-tabs nav-stacked">
				<#list category.subCategories as sub>
					<li><a href="/category/${sub.id}">${sub.name}</a></li>
				</#list>
				</ul>
			</div>
			<div class="span9">
				<table class="table">
					<tbody>
						<#list category.posts as post>
							<tr>
									<td class="span1"><img src="/resources/img/li-header.jpg" alt=""></td>
									<td class="span6"><a href="/post/${post.id}">${post.title}</a></td>
									<td class="span2">[${post.publishTime?number_to_datetime}]</td>
							</tr>
						</#list>
					</tbody>
				</table>
			</div>
		</div>
		
		<@lib.bottom />
	</div>
	
  <@lib.js />
</body>
</html>