<#import "lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<@lib.head title="中国当代写作研究中心"/>

</head>
<body>
	<@lib.header />
	<@lib.nav />
	
	<!-- main -->
	<@lib.main>
		<div class="ad">
			<div class="row">
				<div class="span12">
				</div>
			</div>
		</div>
		<@carousel />
		<!-- content -->
		<div class="row">	
			<div class="span8 content">
				<!-- content-top -->
				<div class="row">
					<div class="span8 board">
					</div>
				</div>
				<hr>
				<!-- content-middle -->
				<div class="row">
					<@PageBoard page=introduction />
					<@CategoryBoard category=notice />
				</div>
				<hr>
				<div class="row">
					<@CategoryBoard category=activity />
					<@CategoryBoard category=research />
				</div>
			</div>
			
			<!-- sidebar -->
			<div class="span4 sidebar">
				<div class="row">
					<@lib.PostListBoard name="滚动新闻" posts=roll />
				</div>
				<hr>
				<div class="row">
					<@lib.LinkBoard name="友情链接" sessionLinks=sessionLinks />
				</div>
			</div>
		</div>
	</@lib.main>

	<!-- footer -->
	<@lib.footer />
	
  <@lib.js />
</body>
</html>

<#macro carousel>
<!-- carousel -->
<div class="row">
	<div class="span12">
		<div id="myCarousel" class="carousel slide">
  		<ol class="carousel-indicators">
  			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
  		</ol>
  		<!-- Carousel items -->
  		<div class="carousel-inner">
  			<#list imagenews.posts as post>
  				<#if post_index gt 9>
  					<#break>
  				</#if>
  				<#if post_index = 0>
	    		<div class="active item">
	    		<#else>
	    		<div class="item">
	    		</#if>
	    			<div class="row">
	    				<div class="span4 offset1">
	    					<div class="img-post-text">
		    					<div class="post-title">
		    						<h3><a href="/post/${post.id}">${post.title}</a></h3>
		    					</div>
		    					<div class="post-content-short">
		    						<p>
											<#if post.text?length gt 200>
												${post.text[0..199]}
											<#else>
												${post.text}
											</#if>
										</p>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="span7">
	    					<#if post.thumbnailPath??>
	    						<img style="max-width:100%;height:400px" src="${post.thumbnailPath}">
	    					</#if>
	    				</div>
	    			</div>
	    		</div>
	    	</#list>
			</div>
			<!-- Carousel nav -->
  		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</div>
</#macro>

<#macro CategoryBoard category>
<div class="span4 category-board">
	<div class="board-title">
		<h3>
			<i class="icon-star"></i>
			<a href="#">
				<span><a href="/category/${category.id}">${category.name}</a></span>
			</a>
		</h3>
	</div>
	<div class="board-content">
		<ol class="post-list">
			<#list category.posts as post>
			<#if post_index gt 9>
				<#break>
			</#if>
			<li>
				<a href="/post/${post.id}"><span class="number">${post_index + 1}</span></a>
				<div class="list-content">
					<h5><a href="/post/${post.id}">${post.title}</a></h5>
					<i class="icon-calendar"></i>${post.publishDatetime?number_to_datetime}
					<span class="click pull-right">
						${post.click}&nbsp;<i class="icon-eye-open"></i>
					</span>
				</div>
			</li>
			</#list>
		</ol>
	</div>
</div>
</#macro>

<#macro PageBoard page>
<div class="span4 category-board">
	<div class="board-title">
		<h3>
			<i class="icon-star"></i>
			<a href="#">
				<span><a href="/page/${page.id}">${page.name}</a></span>
			</a>
		</h3>
	</div>
	<div class="board-content">
		<#if page.text?length gt 390>
			<p>${page.text[0..389]}...<a href="/page/${page.id}">更多</a></p>
		<#else>
			<p>${page.text}</p>
		</#if>
	</div>
</div>
</#macro>