<#macro meta>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A Sample CMS">
<meta name="author" content="dadooteam">
</#macro>

<#macro header>
<div class="container">
	<div class="row">
		<div class="span6">
			<h1>Teak</h1>
		</div>
	</div>
</div>
<!-- header -->
</#macro> 

<#macro nav>
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
						<a class="btn btn-navbar" data-toggle="collapse"
							data-target=".nav-collapse"> 
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>

						<!-- Everything you want hidden at 940px or less, place within here -->
						<div class="nav-collapse">
							<!-- .nav, .navbar-search, .navbar-form, etc -->
							<#assign categories=Session.c>
							<ul class="nav">
								<#list categories as c>
								<#if !c.subCategories??>
								<li><a href="/category/${c.url}">${c.name}</a></li>
								<#else>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="/category/${c.url}"> 
										${c.name}<b class="caret"></b>
									</a>
									<ul class="dropdown-menu">
										<!-- links -->
										<#list c.subCategories as subc>
										<li><a href="/category/${c.url}">${subc.name}</a></li>
										</#list>
									</ul>
								</li>
								</#if>
								</#list>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- nav -->
</#macro>

<#macro AdminLeftNav>
<div class="accordion" id="left-nav">
	<div class="accordion-group">
  	<div class="accordion-heading">
     <a class="accordion-toggle" data-toggle="collapse" data-parent="#left-nav" href="#collapseUser">
     	用户
     </a>
    </div>
    <div id="collapseUser" class="accordion-body collapse">
    	<div class="accordion-inner">
	    	<ul>
	    		<li><a href="/admin/user/1/update">修改管理员密码</a></li>
	    	</ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
  	<div class="accordion-heading">
    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#left-nav" href="#collapsePost">
      	Post
      </a>
    </div>
    <div id="collapsePost" class="accordion-body collapse">
    	<div class="accordion-inner">
	    	<ul>
					<li><a href="/admin/posts">All Posts</a></li>
					<li><a href="/admin/post">Add Post</a></li>
				</ul>
      </div>
    </div>
  </div>
	<div class="accordion-group">
   	<div class="accordion-heading">
     	<a class="accordion-toggle" data-toggle="collapse" data-parent="#left-nav" href="#collapseCategory">
       	Category
       </a>
     </div>
     <div id="collapseCategory" class="accordion-body collapse">
     	<div class="accordion-inner">
     		<ul>
     			<li><a href="/admin/categories">All Categories</a></li>
     			<li><a href="/admin/category">Add Category</a></li>
     		</ul>		
       </div>
     </div>
   </div>
   <div class="accordion-group">
   	<div class="accordion-heading">
     	<a class="accordion-toggle" data-toggle="collapse" data-parent="#left-nav" href="#collapsePage">
       	Page
       </a>
     </div>
     <div id="collapsePage" class="accordion-body collapse">
     	<div class="accordion-inner">
     		<ul>
     			<li><a href="/admin/pages">All Pages</a></li>
     			<li><a href="/admin/page">Add Page</a></li>
     		</ul>
      </div>
    </div>
   </div>
   <div class="accordion-group">
   	<div class="accordion-heading">
     	<a class="accordion-toggle" data-toggle="collapse" data-parent="#left-nav" href="#collapseLink">
       	Link
       </a>
     </div>
     <div id="collapseLink" class="accordion-body collapse">
     	<div class="accordion-inner">
     		<ul>
     			<li><a href="/admin/links">All Links</a></li>
     			<li><a href="/admin/link">Add Link</a></li>
     		</ul>	
      </div>
    </div>
  </div>
</div>

</#macro>

<#macro bottom>
<div class="row">
	<div class="span12">	
		<ul>
			<li>版权所有&copy;华中科技大学中国当代写作研究中心&nbsp;2012&nbsp;|</li>
			<li>&nbsp;地址：湖北省武汉市珞喻路1037号华中科技大学东五楼三楼&nbsp;|</li>
			<li>&nbsp;邮编：430074&nbsp;|</li>
			<li>&nbsp;联系电话：027-87559614&nbsp;|</li>
			<li>&nbsp;邮箱：jiangjun1870@126.com&nbsp;|&nbsp;</li>
			<li><a href="/admin">管理入口</a></li>
		</ul>
	</div>
</div>
</#macro>

<#macro js>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/xheditor-1.2.1/xheditor-1.2.1.min.js"></script>
<script src="/resources/xheditor-1.2.1/xheditor_lang/zh-cn.js"></script>
<script src="/resources/js/md5.js"></script>
</#macro>

<#macro css>
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="/resources/css/bootstrap.min.css" rel="stylesheet">
</#macro>
