<#import "lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<@lib.head title="${post.title}"/>
</head>
<body>
	<@lib.header />
	<@lib.nav />
	
	<!-- main -->
	<@lib.main>

			<!-- content -->
			<div class="row">	
				<div class="span8 content">
					<div class="post-board">
						<div class="board-title">
							<h2>
								<span>${post.title}</span>
								<small>
									发布时间:${post.publishDatetime?number_to_datetime}&nbsp;
									作者:${post.author}&nbsp;
									浏览次数:${post.click}
								</small>
							</h2>
						</div>
						<div class="board-content">
							<#if post.thumbnailPath??>
								<div class="thumbnail-wrapper">
									<img src="${post.thumbnailPath}" width="400px">
								</div>
							</#if>
							<p>
								${post.html}
							</p>
						</div>
					</div>
				</div>
				
				<!-- sidebar -->
				<div class="span4 sidebar">
					<div class="row">
						<@lib.PostListBoard name="滚动新闻" posts=roll />
					</div>
					<hr>
					<div class="row">
						<@lib.LinkBoard name="友情链接" sessionLinks=sessionLinks />
					</div>
				</div>
			</div>
	</@lib.main>

	<!-- footer -->
	<@lib.footer />
	
  <@lib.js />
</body>
</html>
