<#import "lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<@lib.meta />
	<title>${post.title}</title>
	<@lib.css />
	<style>
		.post-title{
			text-align:center;
			border-bottom:#ccc 1px solid;
			color:#999;
			height:30px;
			line-height:30px;
		}
	</style>
</head>
<body>
	<@lib.header />
	<@lib.nav />
	
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1 style="text-align:center">${post.title}</h1>
			</div>
		</div>
		<div class="row">
			<div class="span12 post-title">
				发布时间:${post.publishTime?number_to_datetime}
				作者:${post.author}
				浏览次数:${post.click}
			</div>
		</div>
		<div class="row">
			<div class="span12">
				${post.content}
			</div>
		</div>
	</div>
	
  <@lib.js />
</body>
</html>