<#import "lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<@lib.meta />
	<title>${post.title}-中国当代写作研究中心</title>
	<@lib.css />
	<style>
		.post-info{
			text-align:center;
			border-bottom:#ccc 1px solid;
			color:#999;
			height:30px;
			line-height:30px;
		}
	</style>
</head>
<body>
	<div class="container">
		
		<@lib.header />
		<@lib.nav />
		
		<div class="row">
			<div class="span12">
				<h1 style="text-align:center;margin-top:20px">${post.title}</h1>
			</div>
		</div>
		<div class="row">
			<div class="span12 post-info">
				发布时间:${post.publishTime?number_to_datetime}&nbsp;&nbsp;&nbsp;
				作者:${post.author}&nbsp;&nbsp;&nbsp;
				浏览次数:${post.click}
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<#if post.headerImagePath??>
					<div style="margin:20px 0px;text-align:center"><img src="${post.headerImagePath}"></div>
				</#if>
				${post.content}
			</div>
		</div>
		
		<@lib.bottom />
	</div>
	
  <@lib.js />
</body>
</html>