<#import "../lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<@lib.meta />
	<title>Teak CMS admin</title>
	<@lib.css />
</head>
<body>
	<@lib.header />
	<@lib.nav />
	
	<div class="container">
		<div class="row">
			<div class="span3">
				<ul class="nav nav-tabs nav-stacked">
  				<li class="active"><a href="#">Admin</a></li>
  				<li><a href="/admin/post">Posts</a></li>
  				<li><a href="/admin/category">Categories</a></li>
  				<li><a href="/admin/page">Pages</a></li>
  				<li><a href="/admin/link">Links</a></li>		
				</ul>
			</div> <!-- span3 -->
			<div class="span9">
				AAA
			</div>
		</div>
	</div>
  <@lib.js />
</body>
</html>