<#import "../lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<@lib.meta />
	<#if category??>
		<title>Update Category</title>
	<#else>
		<title>Add Category</title>
	</#if>
	<@lib.css />
</head>
<body>
	
	<div class="container">
	
		<@lib.header />
		<@lib.nav />
		
		<div class="row" style="margin-top:20px">
			<div class="span2">
				<@lib.AdminLeftNav />
			</div> <!-- span2 -->
			<div class="span6">
				<#if category??>
					<form class="form-horizontal" action="/admin/category/${category.id}/update" method="post">
				<#else>
					<form class="form-horizontal" action="/admin/category" method="post">
				</#if>
					<fieldset>
						<#if category??>
							<legend>修改Category</legend>
						<#else>
							<legend>新增Category</legend>
						</#if>
						<div class="control-group">
							<label class="control-label">类别名称</label>
							<div class="controls">
								<input id="name" type="text" class="input-xlarge" name="name">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">类别链接名称</label>
							<div class="controls">
								<input id="url" type="text" class="input-xlarge" name="url">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">类别描述</label>
							<div class="controls">
								<input id="description" type="text" class="input-xlarge" name="description">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">父类别</label>
							<div class="controls">
								<input id="supId" type="text" class="input-xlarge" name="supId">
							</div>
						</div>
						<!-- control-group -->
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">保存</button>
							<button type="reset" class="btn">取消</button>
						</div>
					</fieldset>
				</form>	
			</div>
		</div>
		
		<@lib.bottom />
	</div>
  <@lib.js />
  <script>
		$(function(){
			$('#collapseCategory').addClass('in');
			<#if category??>
				$('#url').val('${category.url}');
				$('#name').val('${category.name}');
				$('#description').val('${category.description}');
				$('#supId').val('${category.supId}');
			</#if>
		});
	</script>
</body>
</html>