<#import "../lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<#if category??>
		<@lib.head title="修改分类"/>
	<#else>
		<@lib.head title="新增分类"/>
	</#if>
</head>
<body>
	<@lib.header />
	<@lib.nav />
	
	<!-- main -->
	<@lib.main>
		<div class="row">
			<div class="span2">
				<@lib.AdminSidebar />
			</div> <!-- span2 -->
			<div class="span10">
				<#if category??>
					<form id="category-form" class="form-horizontal" action="/admin/category/${category.id}/update" method="post">
				<#else>
					<form id="category-form" class="form-horizontal" action="/admin/category" method="post">
				</#if>
					<fieldset>
						<#if category??>
							<legend>修改分类</legend>
						<#else>
							<legend>新增分类</legend>
						</#if>
						<div class="control-group">
							<label class="control-label">分类名(*)</label>
							<div class="controls">
								<input id="name" type="text" class="input-xlarge" name="name" maxlength="30">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">分类描述</label>
							<div class="controls">
								<input id="description" type="text" class="input-xlarge" name="description" maxlength="200">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">父类(*)</label>
							<div class="controls">
								<select id="supId" name="supId">
									<option value="0">无分类</option>
									<#list categories as c>
										<#if category?? && c.id = category.supId>
											<option value="${c.id}" selected="selected">${c.name}</option>
										<#elseif category?? && c.id = category.id>
										<#else>
											<option value="${c.id}">${c.name}</option>
										</#if>
									</#list>
								</select>
							</div>
						</div>
						<!-- control-group -->
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">保存</button>
							<a class="btn" href="/admin/categories">返回</a>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</@lib.main>

	<!-- footer -->
	<@lib.footer />
	
  <@lib.js />
  <script>
		$(function(){
			$('#collapseCategory').addClass('in');
			<#if category??>
				$('#name').val('${category.name}');
				$('#description').val('${category.description}');
				$('#supId').val('${category.supId}');
			</#if>
			$('#category-form').submit(function(e){
				if ($('#name').val() == undefined) {
					alert("请将内容填写完整");
					return false;
				}
				else {
					return true;
				}
			});
		});
	</script>
</body>
</html>
