<#import "../lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<@lib.meta />
	<#if link??>
		<title>Update Link</title>
	<#else>
		<title>Add Link</title>
	</#if>
	<@lib.css />
</head>
<body>
	
	<div class="container">
	
		<@lib.header />
		<@lib.nav />
		
		<div class="row" style="margin-top:20px">
			<div class="span2">
				<@lib.AdminLeftNav />
			</div> <!-- span2 -->
			<div class="span6">
				<#if link??>
					<form class="form-horizontal" action="/admin/link/${link.id}/update" method="post">
				<#else>
					<form class="form-horizontal" action="/admin/link" method="post">
				</#if>
					<fieldset>
						<#if link??>
							<legend>修改Link</legend>
						<#else>
							<legend>新增Link</legend>
						</#if>
						<div class="control-group">
							<label class="control-label">链接地址</label>
							<div class="controls">
								<input id="url" type="url" class="input-xlarge" name="url">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">名称</label>
							<div class="controls">
								<input id="name" type="text" class="input-xlarge" name="name">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">描述</label>
							<div class="controls">
								<input id="description" type="text" class="input-xlarge" name="description">
							</div>
						</div>
						<!-- control-group -->
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">保存</button>
							<button type="reset" class="btn">取消</button>
						</div>
					</fieldset>
				</form>	
			</div>
		</div>
		<@lib.bottom />
	</div>
  <@lib.js />
  <script>
		$(function(){
			$('#collapseLink').addClass('in');
			<#if link??>
				$('#url').val('${link.url}');
				$('#name').val('${link.name}');
				$('#description').val('${link.description}');
			</#if>
		});
	</script>
</body>
</html>