<#import "../lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<@lib.head title="链接管理"/>
</head>
<body>
	<@lib.header />
	<@lib.nav />
	
	<!-- main -->
	<@lib.main>
		<div class="row">
			<div class="span2">
				<@lib.AdminSidebar />
			</div> <!-- span2 -->
			<div class="span10">
				<table class="table table-striped well">
				  <thead>
				    <tr>
				      <th>链接名</th>
				      <th>链接地址</th>
				      <th>描述</th>
				      <th>操作</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<#list links as link>
				    <tr>
				      <td class="span2"><a href="${link.url}">${link.name}</a></td>
				      <td class="span3">${link.url}</td>
				      <td class="span4">${link.description}</td>
				      <td class="span1">
				      	<a href="/admin/link/${link.id}/update">修改</a>
				      	<a href="/admin/link/${link.id}/delete" onClick="return confirm('确定要删除吗？删除后不可恢复')">删除</a>
				      </td>
				    </tr>
				    </#list>
				  </tbody>
				</table>	
			</div>
		</div>
	</@lib.main>

	<!-- footer -->
	<@lib.footer />
	
  <@lib.js />
  <script>
		$(function(){
			$('#collapseLink').addClass('in');
		});
	</script>
</body>
</html>
