<#import "../lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<@lib.meta />
	<#if page??>
		<title>Update Page</title>
	<#else>
		<title>Add Page</title>
	</#if>
	<@lib.css />
</head>
<body>
	
	<div class="container">
	
		<@lib.header />
		<@lib.nav />
		
		<div class="row" style="margin-top:20px">
			<div class="span2">
				<@lib.AdminLeftNav />
			</div> <!-- span2 -->
			<div class="span10">
				<#if page??>
					<form class="form-horizontal" action="/admin/page/${page.id}/update" method="post">
				<#else>
					<form class="form-horizontal" action="/admin/page" method="post">
				</#if>
					<fieldset>
						<#if page??>
							<legend>修改Page</legend>
						<#else>
							<legend>新增Page</legend>
						</#if>
						<div class="control-group">
							<label class="control-label">页名</label>
							<div class="controls">
								<input id="name" type="text" class="input-xlarge" name="name">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">页面url</label>
							<div class="controls">
								<input id="url" type="text" class="input-xlarge" name="url">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">标题</label>
							<div class="controls">
								<input id="title" type="text" class="input-xlarge" name="title">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">作者</label>
							<div class="controls">
								<input id="author" type="text" class="input-xlarge" name="author">
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<input id="publishTime" type="hidden" class="input-xlarge" name="publishTime" readonly="">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">内容</label>
							<div class="controls">
								<textarea id="content" class="input-xlarge" name="content" rows="12" cols="80" style="width:100%"></textarea>
							</div>
						</div>
						<!-- control-group -->
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">保存</button>
							<button type="reset" class="btn">取消</button>
						</div>
					</fieldset>
				</form>	
			</div>
		</div>
		
		<@lib.bottom />
	</div>
  <@lib.js />
  <script>
		$(function(){
			$('#collapsePage').addClass('in');
			$('#content').xheditor({html5Upload:false,modalWidth:700,modalHeight:500,upBtnText:'浏览',upImgUrl:"/upload/image",upImgExt:"jpg,jpeg,gif,png"});
			<#if page??>
				$('#name').val('${page.name}');
				$('#url').val('${page.url}');
				$('#title').val('${page.title}');
				$('#author').val('${page.author}');
				$('#content').val('${page.content}');
				$('#publishTime').val('${page.publishTime}');	
			</#if>
		});
	</script>
</body>
</html>