<#import "../lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<@lib.meta />
	<#if page??>
		<title>Update Page</title>
	<#else>
		<title>Add Page</title>
	</#if>
	<@lib.css />
</head>
<body>
	
	<div class="container">
	
		<@lib.header />
		<@lib.nav />
		
		<div class="row" style="margin-top:20px">
			<div class="span2">
				<@lib.AdminLeftNav />
			</div> <!-- span2 -->
			<div class="span10">
				<#if page??>
					<form id="page-form" class="form-horizontal" action="/admin/page/${page.id}/update" method="post">
				<#else>
					<form id="page-form" class="form-horizontal" action="/admin/page" method="post">
				</#if>
					<fieldset>
						<#if page??>
							<legend>修改页面</legend>
						<#else>
							<legend>新增页面</legend>
						</#if>
						<div class="control-group">
							<label class="control-label">页面名(*)</label>
							<div class="controls">
								<input id="name" type="text" class="input-xlarge" name="name" maxlength="30">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">页面英文名(唯一标识*)</label>
							<div class="controls">
								<input id="url" type="text" class="input-xlarge" name="url" maxlength="30">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">标题(*)</label>
							<div class="controls">
								<input id="title" type="text" class="input-xlarge" name="title" maxlength="50">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">作者</label>
							<div class="controls">
								<input id="author" type="text" class="input-xlarge" name="author" maxlength="20">
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<input id="publishTime" type="hidden" class="input-xlarge" name="publishTime" readonly="">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">内容(*)</label>
							<div class="controls">
								<textarea id="content" class="input-xlarge" name="content" rows="12" cols="80" style="width:100%"></textarea>
							</div>
						</div>
						<!-- control-group -->
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">保存</button>
							<a class="btn" href="/admin/pages">返回</a>
						</div>
					</fieldset>
				</form>	
			</div>
		</div>
		
		<@lib.bottom />
	</div>
  <@lib.js />
  <script>
		$(function(){
			$('#collapsePage').addClass('in');
			$('#content').xheditor({html5Upload:false,modalWidth:700,modalHeight:500,upBtnText:'浏览',upImgUrl:"/upload/image",upImgExt:"jpg,jpeg,gif,png",upFlashUrl:"/upload/image", upFlashExt:"flv,swf"});
			<#if page??>
				$('#name').val('${page.name}');
				$('#url').val('${page.url}');
				$('#title').val('${page.title}');
				$('#author').val('${page.author}');
				$('#content').val("${page.content?js_string}");
				$('#publishTime').val('${page.publishTime}');	
			</#if>
			
			$('#page-form').submit(function(e){
				if ($('#name').val() == undefined || $('#url').val() == undefined || 
						$('#title').val() == undefined || $('#content').val() == undefined) {
					alert("请将内容填写完整");
					return false;
				}
				else {
					return true;
				}
			});
		});
	</script>
</body>
</html>