<#import "../lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<@lib.head title="文章管理"/>
</head>
<body>
	<@lib.header />
	<@lib.nav />
	
	<!-- main -->
	<@lib.main>
		<div class="row">
			<div class="span2">
				<@lib.AdminSidebar />
			</div> <!-- span2 -->
			<div class="span10">
				<table class="table table-striped well" style="font-size:10px">
				  <thead>
				    <tr>
				      <th>标题</th>
				      <th>作者</th>
				      <th>类别</th>
				      <th>点击量</th>
				      <th>发布时间</th>
				      <th>操作</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<#list posts as post>
				    <tr>
				      <td class="span3"><a href="/post/${post.id}">${post.title}</a></td>
				      <td class="span2">${post.author}</td>
				      <td class="span1">${post.category.name}</td>
				      <td class="span1">${post.click}</td>
				      <td class="span2">${post.publishDatetime?number_to_datetime}</td>
				      <td class="span1">
				      	<a href="/admin/post/${post.id}/update">修改</a>
				      	<a href="/admin/post/${post.id}/delete" onClick="return confirm('确定要删除吗？删除后不可恢复')">
				      		删除
				      	</a>
				      </td>
				    </tr>
				    </#list>
				  </tbody>
				</table>
			</div>
		</div>
	</@lib.main>

	<!-- footer -->
	<@lib.footer />
	
  <@lib.js />
  <script>
		$(function(){
			$('#collapsePost').addClass('in');
		});
	</script>
</body>
</html>
