<#import "../lib.html" as lib>
<!DOCTYPE html>
<html>
<head>
	<@lib.meta />
	<#if post??>
		<title>Update Post</title>
	<#else>
		<title>Add Post</title>
	</#if>
	<@lib.css />
</head>
<body>
	<@lib.header />
	<@lib.nav />
	
	<div class="container">
		<div class="row">
			<div class="span2">
				<@lib.AdminLeftNav />
			</div> <!-- span2 -->
			<div class="span10">
				<#if post??>
					<form class="form-horizontal" action="/admin/post/${post.id}/update" method="post" enctype="multipart/form-data">
				<#else>
					<form class="form-horizontal" action="/admin/post" method="post" enctype="multipart/form-data">
				</#if>
					<fieldset>
						<#if post??>
							<legend>修改Post</legend>
						<#else>
							<legend>新增Post</legend>
						</#if>
						<div class="control-group">
							<label class="control-label">标题</label>
							<div class="controls">
								<input id="title" type="text" class="input-xlarge" name="title">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">作者</label>
							<div class="controls">
								<input id="author" type="text" class="input-xlarge" name="author">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">类别</label>
							<div class="controls">
								<input id="categoryId" type="text" class="input-xlarge" name="categoryId">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">标题图</label>
							<div class="controls">
								<input id="headerImage" type="file" class="input-file" name="headerImage">
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<input id="publishTime" type="hidden" class="input-xlarge" name="publishTime" readonly="">
							</div>
						</div>	
						<div class="control-group">
							<label class="control-label">内容</label>
							<div class="controls">
								<textarea id="content" name="content" rows="12" cols="80" style="width: 100%"></textarea>
							</div>
						</div>
						<!-- control-group -->
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">保存</button>
							<button type="reset" class="btn">取消</button>
						</div>
					</fieldset>
				</form>	
			</div>
		</div>
	</div>
  <@lib.js />
  <script>
		$(function(){
			$('#collapsePost').addClass('in');
			$('#content').xheditor({modalWidth:700,modalHeight:500,upBtnText:'浏览',upLinkUrl:"!ckfinder/upload.html",upImgUrl:"!ckfinder/upload.html?type=Images",upFlashUrl:"!ckfinder/upload.html?type=Flash",upMediaUrl:"!ckfinder/upload.html"});
			//content.focus();
			<#if post??>
				$('#title').val('${post.title}');
				$('#author').val('${post.author}');
				$('#content').setSource('${post.content}');
				$('#publishTime').val('${post.publishTime}');
				$('#categoryId').val('${post.categoryId}');
			</#if>
		});
	</script>
</body>
</html>